<?xml version="1.0" encoding="utf-8"?>
<menu xmlns:android="http://schemas.android.com/apk/res/android">
    <item
        android:id="@+id/f_menu"
        android:title="first">

    </item>
    <item
        android:id="@+id/s_menu"
        android:title="second">

    </item>
    <item
        android:id="@+id/t_menu"
        android:title="third">

    </item>
</menu>
